@import "tailwindcss";

/* ensure tailwind uses the same font stack as starlight */
@theme inline {
  --font-sans:
    "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, sans-serif;
  --font-mono:
    "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    monospace;
}
