---
// src/components/GitHubDownloadButton.astro
import { LinkButton } from "@astrojs/starlight/components";
import { getDownloadUrl } from "../lib/github-releases";

interface Props {
  platform: "macos-arm64" | "macos-x64";
}

const { platform } = Astro.props;

const platformMap = {
  "macos-arm64": {
    text: "download (apple silicon)",
  },
  "macos-x64": {
    text: "download (mac intel)",
  },
};

const { text } = platformMap[platform];
const { downloadUrl, errorMessage } = await getDownloadUrl(platform);
---

{
  downloadUrl ? (
    <LinkButton
      variant="primary"
      rel="noopener noreferrer"
      href={downloadUrl}
      target="_blank"
    >
      {text}
    </LinkButton>
  ) : (
    <p class="starlight-badge badge brand">
      {errorMessage || "Download link not available."}
    </p>
  )
}
